.chat {
  flex: 0.7;
}

.chat__headerLeft > h4 {
  font-size: 12px;
  color: grey;
  padding-top: 10px;
}

.chat__header {
  padding: 13px 13px 2px;
}
.chat__channelName {
  display: flex;
  align-items: center;
}

.chat__channelName > .MuiSvgIcon-root {
  font-size: 19px;
  padding-left: 5px;
  color: gray;
}

.chat__channelName > h3 {
  font-size: 17px;

  color: black;
}
