.chatInput {
  border-radius: 20px;
}

.chatInput > form {
  position: relative;
  display: flex;
  background-color: khaki;
  justify-content: flex-start;
}

.chatInput > form > input {
  position: fixed;
  bottom: 40px;
  width: 60%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
}
